<footer>
	<article>
	<section id="about">
		<p>Kisällioppiminen.fi tarjoaa ilmaisia ja avoimia materiaaleja matematiikan oppimisen ja opettamisen tueksi.</p>
		Materiaalit on erityisesti suunniteltu tehostetun kisällioppimisen menetelmää silmällä pitäen.</p>
	</section>
	<section id="contact">
		<p class="facebook"><a href="http://blogs.helsinki.fi/kumpulaopettaa">Kumpula opettaa -blogi</a></p>
		<p class="email">Sähköposti <a href="mailto:mooc@cs.helsinki.fi">kisalli-oppiminen@helsinki.fi</a></p>
		<p class="sourceforge">Virheraportit <a href="http://sourceforge.net/p/mooc-issues/tickets/">SourceForge</a></p>
	</section>
	<section id="license">
		<p>
			<img src="{{ "http://mooc.fi/img/copyright.png" | prepend: site.baseurl }}" alt="Creative Commons copyright"> 
			Sivuston kaikki materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä. 
		</p>
		<p>Sivuston lähdekoodi löytyy <a href="https://github.com/kisallioppiminen">GitHubista</a>.</p>
	</section>
	</article>
</footer>
