<footer>
	<article>
	<section id="about">
		<p>Sivuston materiaalit tarjoaa Kisallioppiminen.fi. Palvelu tarjoaa ilmaisia ja avoimia materiaaleja matematiikan oppimisen ja opettamisen tueksi.</p>
		<p>Materiaalit ovat erityisesti suunniteltu tukemaan tehostetun kisällioppimisen menetelmän käyttöä.</p>
	</section>
	<section id="contact">
		<!-- LISÄÄ TÄHÄN <p class="facebook"><a href="https://www.facebook.com/groups/899303056853769/">Facebook-ryhmä</a></p> -->
		<p class="email">Sähköposti <a href="mailto:tom.gladh@espoo.fi">tom.gladh(at)espoo.fi</a></p>
	</section>
	<section id="license">
		<p>
			<img src="{{ "http://mooc.fi/img/copyright.png" | prepend: site.baseurl }}" alt="Creative Commons copyright"> 
			Sivuston materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä ellei muuta mainita. 
		</p>
		<p>Sivuston pohjana on <a href="kisallioppiminen.fi">Kisällioppiminen.fi</a>-palvelu. Tämän sivuston lähdekoodi löytyy <a href="https://github.com/tomgladh">GitHubista</a>.</p>
	</section>
	</article>
</footer>
 
