<footer>
	<article>
	<section id="about">
		<p>Kisallioppiminen.fi tarjoaa ilmaisia ja avoimia materiaaleja matematiikan oppimisen ja opettamisen tueksi.</p>
		<p>Materiaalit ovat erityisesti suunniteltu tukemaan tehostetun kisällioppimisen menetelmän käyttöä.</p>
	</section>
	<section id="contact">
		<p class="blog"><a href="http://blogs.helsinki.fi/kisallioppiminen-lukiossa">Kisallioppiminen lukiossa -blogi</a></p>
		<p></p>
		<p class="email">Sähköposti <a href="mailto:mooc@cs.helsinki.fi">kisalli-oppiminen@helsinki.fi</a></p>
	</section>
	<section id="license">
		<p>
			<img src="{{ "http://mooc.fi/img/copyright.png" | prepend: site.baseurl }}" alt="Creative Commons copyright"> 
			Sivuston kaikki materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä. 
		</p>
		<p>Sivuston lähdekoodi löytyy <a href="https://github.com/kisallioppiminen">GitHubista</a>.</p>
	</section>
	</article>
</footer>
