{% assign url_parts = page.topnav | split: '/' %}
{% assign topbar = site.data.topbar %}
{% for part in url_parts %}
	{% assign topbar = topbar[part] %}
{% endfor %}
<atop>
	<nav class="topnav">
		<ul>
			{% for link in topbar.navigation %}
			<li>
				{% if link.ext or link.base %}
					{% assign href = link.path %}
				{% else %}
					{% assign href = link.path | prepend: topbar.path %}
				{% endif %}
				{% assign page_url = page.url | replace:'index.html','' %}
				<a href="{% if ext %}{{href}}{% else %}{{href | prepend: site.baseurl }}{% endif %}"{% if href == page_url %} class="current"{% endif %}{% if link.target %} target="{{link.target}}"{% endif %}>
					{{link.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	{% for img in topbar.imgs %}
		{% if img.href %}
		<a href="{{img.href}}"><img src="{{img.src}}"></a>
		{% else %}
		<img src="{{img.src}}" />
		{% endif %}
	{% endfor %}
</atop>
