section.panel > header {
        display: block;
        background-color: white;
        padding-top: 0;
    }

    article {
        padding: 10px 0px 0 0;
    }

    main.has-atop article {
        background-color: transparent;
    }

section img {
  margin: auto;
  display: block;
}

.objective,
.tool {
display: block; 
width: auto; 
height: auto;
padding: 35px;
margin: -15px;
}

.objective {
background-color: #ECF5D4;
}

.tool {
background-color: #FBE127;
}

.definition {
background-color: #f2ffcc;
display: block; 
max-width: 94%; 
width: auto; 
height: auto; 
margin: 10px auto;
}

.definition h3 {
margin: 0; 
width: auto; 
height: auto; 
background-color: #86b300; 
color: #fff; 
padding: 10px 20px;
}

.definition p {
display: block; 
width: auto; 
height: auto; 
padding: 20px; 
margin-bottom: 1em; 
margin-top: 0;
}

.theorem {
  display: block; 
  max-width: 94%; 
  width: auto; 
  height: auto; 
  margin: 10px auto; 
  background-color: #CCCCCC;
}

.theorem h3 {
  margin: 0; 
  width: auto; 
  height: auto; 
  background-color: #737373; 
  color: #fff; 
  padding: 10px 20px;
  }
.theorem p {
  display: block; 
  width: auto; 
  height: auto; 
  padding: 20px; 
  margin-bottom: 0; 
  margin-top: 0;
}
.theorem .proof {
  display: block; 
  width: auto; 
  height: auto; 
  padding: 5px 10px 10px 10px; 
  margin-bottom: 1em; 
  margin-top: 0; 
  background-color: #E6E6E6;
}

.theorem p > ul,
.theorem p > ol,
.definition p > ul,
.definition p > ol {
        margin-top: -20px;
}

ol.a {
    list-style-type: none;
    counter-reset:list; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol.a > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
}
ol.a > li:before {
    counter-increment: list;
    content: "(" counter(list, lower-alpha) ") ";
    /* Position and style the number */
    left:-2em;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    text-align:center;
}
li ol.a,
li ul {margin-top:6px;}
ol.a ol li:last-child {margin-bottom:0;}
