.definition {
display: block; 
max-width: 94%; 
width: auto; 
height: auto; 
}

.definition h3 {
margin: 0; 
max-width: 94%; 
width: auto; 
height: auto; 
background-color: #86b300; 
color: #fff; 
padding: 10px 20px;
}

.definition p {
display: block; 
max-width: 94%; 
width: auto; 
height: auto; 
padding: 20px; 
margin-bottom: 1em; 
margin-top: 0; 
background-color: #f2ffcc;
}
