.objective {
background-color: #FFF8A0;
display: block; 
max-width: 94%; 
width: auto; 
height: auto;
padding: 20px;
}

.definition h3 {
margin: 0; 
width: auto; 
height: auto; 
background-color: #86b300; 
color: #fff; 
padding: 10px 20px;
}

.definition p {
display: block; 
width: auto; 
height: auto; 
padding: 20px; 
margin-bottom: 1em; 
margin-top: 0;
}

.theorem {
  display: block; 
  max-width: 91.963%; 
  width: auto; 
  height: auto; 
  margin-bottom: 0; 
  margin-top: 1em;
  background-color: #cccccc;
}

.theorem h3 {
  margin: 0; 
  width: auto; 
  height: auto; 
  background-color: #737373; 
  color: #fff; 
  padding: 10px 20px;
  }
.theorem p {
  display: block; 
  width: auto; 
  height: auto; 
  padding: 20px; 
  margin-bottom: 0; 
  margin-top: 0;
}
.theorem .proof {
  display: block; 
  width: auto; 
  height: auto; 
  padding: 5px 40px 20px 40px; 
  margin-bottom: 1em; 
  margin-top: 0; 
  background-color: #e6e6e6;
}
