atop {
	clear:both;
	line-height: 1.3em;
}

atop header {
	background: #00747a;  
	text-transform: uppercase;
	margin: 0;
}

atop header h1 {
	line-height: normal;
	font-size: 1.3em;
	padding: 0px;
	margin: 0px;
}

atop a,
atop a:hover {
	font-family: "Open Sans Condensed",sans-serif;
	font-size: 25px;
	background: none;
	color: #fff;
	display: block;
	padding: 10px 15px;
}

atop nav {

}

atop nav ul {
	margin: 0;
	padding: 0;
}

atop nav ul li {
        display: inline-block;
	list-style-type: none;
	text-transform: none;
	border: 0 none;
}

atop nav ul li a {
	background: #A8BB73; 
	text-shadow: 1px 1px 1px #005357;

	&:hover {
		background: #00747a;
	}
}

atop nav ul .current {
	background: #30A491;

	&:hover {
		background: #00747a;
	}
}

@media all and (max-width: 1160px) {
	atop {
	clear: none;
	width: 100%;
	}

	atop header {
		margin: 10px;
	}

	atop nav {
		border: 0;
	}
}

@media all and (max-width: 760px) {

	atop {
		clear: none;
		width: 100%;
	}

	atop header {
		margin: 10px;
	}

	atop nav {
		border: 0;
	}

	atop nav ul {
		text-align: center;
	}

	atop nav ul li {
		display: block;
		width: 46%;
		margin: 5px 5px;
	}

	atop nav ul li:nth-child(odd) {
		margin-left: 10px;
		float: left;
		clear: left;
	}

	atop nav ul li:nth-child(even) {
		margin-right: 10px;
		float: right;
		clear: right;
	}
}

@media all and (max-width: 475px) {

	atop header {
		margin: 10px 0;
	}

	atop nav ul li,
	atop nav ul li:nth-child(odd),
	atop nav ul li:nth-child(even) {
		margin: 5px 0;
		float: none;
		width: 100%;
	}
}
