---
layout: default
---
<script type="text/javascript">
    	jQuery(document).ready(function() {
      	$(".tehtava").hide();
      	$("div.toc_viikko").hide();
      	$(".heading").click(function()      {
       	$(this).next(".tehtava").slideToggle(200);
       	});});
    </script>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <div id="toc" class="menu" data-first-chapter-index="1" data-first-exercise-index="1">
          <div id="materiaali_toc"></div>
          <!--div id="tehtavat_toc"></div-->
          <div id="tehtavat_toc2"></div>
          <ul>
          	<li>moikka</li>
  	</ul>
      </div>
    </div>
  </nav>
            
    
<article>
	{{ content }}
</article>
