---
layout: compress
---

<script src="http://web-palvelinohjelmointi.github.io/js/libs/jquery/jquery.js"></script>        
<script src="http://web-palvelinohjelmointi.github.io/js/libs/jqueryui/jquery-ui.js"></script>
<script src="http://kisallioppiminen.fi/js/numbering.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
        section > header h1 {
                font-size: 2.75em;
                padding-top: 15px;
        }
        
        div.print-link {
        	display: none;
        }
</style>
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include nav.html %}
		{% include header.html %}
	        <div style="display: none;">
	        ${% include mathematics.html %}$
	        </div>
		
		{% if page.topnav %}
			{% include topnav.html %}
			<main{% if page.main-class %} class="{{page.main-class}}"{% endif %}>
				{% assign url_parts = page.topnav | split: '/' %}
				{% assign topbar = site.data.topbar %}
				{% for part in url_parts %}
					{% assign topbar = topbar[part] %}
				{% endfor %}
	
				{% for link in topbar.navigation %}
					{% for page in site.pages %}
					{% if page.url == link.path %}
						{{page.content}}
					{% endif %}
				{% endfor %}
				{% endfor %}
			</main>
		{% endif %}
		{% if page.english %}
			{% include footer-en.html %}
		{% else %}
			{% include footer.html %}
		{% endif %}

		{% include foot.html %}

	</body>

</html>
